*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit; 
    cursor: pointer; 
}

@font-face {
    font-family: "Montreal";
    src: url('./fonts/Montreal Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: "Montreal";
    src: url('./fonts/Montreal Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montreal";
    src: url('./fonts/Montreal Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montreal";
    src: url('./fonts/Montreal Oblique.ttf') format('truetype');
    font-weight: 400;
    font-style: italic; 
}

body{
    background-color: #030507;
    color: rgba(255, 255, 255, 0.9);
}

body, button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header{
    width: 100%;
    background-color: transparent;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 1.5vw;
    position: absolute;
    z-index: 2;
}

header img {
    max-width: 10vw; 
    height: auto;
    opacity: 1 !important;
}

ul{
    display: flex;
    gap: 4vw;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 1);
    gap: 20px;
    border-radius: 40px;
    padding: 10px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

section{
    padding: 0px 1vw;
    width: 100%;    
    z-index: 0;
    min-height: 100vh;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 24px;
}

h1, h2{
    font-family: "Montreal", sans-serif;
}

.sec1 {
    position: relative;
    min-height: 100vh; 
    overflow: hidden; 
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h1{
        font-size: 4vw;
        font-weight: 700;
        margin-bottom: 24px;
        line-height: 2.6vw;
    }
    
    .tituloCima{
        p{ 
            font-size: 14px;
            letter-spacing: 4px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 26px;}             
    }

    button {       
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        color: rgb(6, 6, 6);
        gap: 14px;
        border-radius: 40px;
        padding: 6px 6px 6px 24px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

.sec1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -2; 
}

.sec1::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 120%; 
    background: linear-gradient(to top, #030507 0%, transparent 100%);
    z-index: -1;
}

/* CONTAINER DAS FATIAS */
.slices-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 20; 
    pointer-events: none; 
    overflow: hidden;
}

/* CADA FATIA INDIVIDUAL */
.slice {
    flex: 1; 
    height: 100%;
    background-color: #ffffff;
    transform: translateY(-100%); 
}

/* SEC2 */

.sec2 {
    position: relative;
    min-height: 100vh; 
    overflow: hidden; 
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    h2 {
        font-size: 4vw;
        font-weight: normal;
        line-height: 4.3vw; 

        .char {
            opacity: 0;
        }
    }
}


.sec3{
    position: relative;
    z-index: 10; /* Garante que passa por cima da sec2 */
    background-color: #030507; /* Fundo sólido para cobrir a sec2 perfeitamente */
    padding-top: 100px;

    .work-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .work-text{
            max-width: 500px;

            h2{
                font-size: 4.5vw;
                font-weight: 400;
                line-height: 3.5vw;
                word-spacing: -10px;

                em{
                    font-style: italic;
                    font-weight: 600;
                }
            }

            p{
                margin-top: 16px;
            }
        }

        .btn-see-all {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: 2px solid rgba(255, 255, 255, 0.9);
                color: rgba(255, 255, 255, 1);
                border-radius: 40px;
                padding: 8px 46px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: rgb(6, 6, 6);
            }
        }   
    }
        .project-cards {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                max-width: 100%;
                padding-top: 20px;
                padding-bottom: 60px;

                img {
                    object-fit: cover; 
                    border-radius: 10px;
                    transition: filter 0.4s ease, transform 0.4s ease; 
                    cursor: pointer;
                    filter: saturate(0);

                    &:hover {
                    filter: saturate(1); 
                    }
                }


                img:nth-child(1),
                img:nth-child(4) {
                    width: 100%; 
                    height: 80vh; 
                }


                img:nth-child(2),
                img:nth-child(3) {
                    width: calc(50% - 6px); 
                    height: 70vh; 
                }
        }

        button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: 2px solid rgba(255, 255, 255, 0.9);
                color: rgba(255, 255, 255, 1);
                gap: 20px;
                border-radius: 40px;
                padding: 4px 8px 4px 40px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: rgb(6, 6, 6);
                    }
                }

    .container{
        padding-bottom: 100px;
    }
}
