.sec1 {
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinhamento à esquerda no celular */
    
    h1 {
      font-family: "Montreal", sans-serif;
      font-size: clamp(32px, 10vw, 64px);
      line-height: 1.1;
  }
}

.btn-h {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--texto-claro);
    border: none;
    color: var(--bg-dark);
    gap: 14px;
    border-radius: 400px;
    padding: 6px 6px 6px 20px; /* Padding de mobile */
    cursor: pointer;

    img{
      width: 38px;
  }
}

  .tituloCima {
    p {
      font-size: clamp(12px, 1vw, 20px);
      color: var(--branco-opacidade);
      margin-bottom: 8px;
      letter-spacing: 2px;
    }
}

@media (min-width: 1024px) {
  .sec1 {
    padding: 0 40px; /* Mais espaço nas laterais no PC */
  }

  .sec1 h1 {
    font-size: 64px; /* Tamanho original que você gostou */
    margin-bottom: 0;
  }

  .sec1 .tituloCima p {
    font-size: 14px;
    letter-spacing: 4px;
  }

  .sec1 button {
    padding: 6px 6px 6px 24px; /* Botão um pouco mais largo */
  }
}


/* ========================================= */
/* WORD ROTATOR (EFEITO TYPEWRITER)          */
/* ========================================= */
.rotator-wrapper {
  display: inline-block;
  vertical-align: bottom;    /* Alinha com o resto do texto */
  overflow: hidden;         /* Esconde a palavra quando ela sai da caixa */
  /* height: 1;               Altura de uma linha de texto */
  position: relative;
  min-width: 200px;       /* Evita que o título "dance" lateralmente */
}

.word-rotator {
  font-family: "Montreal";
  font-weight: 600;
  display: block;
  font-style: italic;
  color: var(--texto-claro);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1), opacity 0.5s ease;
}

/* Estado de saída (quando a palavra sobe) */
.word-rotator.slide-out {
  transform: translateY(-100%);
  opacity: 0;
}

/* Estado de entrada (quando a palavra vem de baixo) */
.word-rotator.prepare-in {
  transition: none; /* Desliga a transição para posicionar sem ver */
  transform: translateY(-100%);
  opacity: 0;
}

/* Ajuste para Desktop (telas maiores) */
@media (min-width: 1024px) {
  .rotator-wrapper {
    min-width: 300px; /* Espaço maior para palavras longas no PC */
  }
}


